.card {
  background    : var(--foreground);
  color         : var(--background);
  border-radius : 15px;
  padding       : 10px;
  display       : flex;
  flex-direction: column;
}

.card img {
  border-radius: 15px;
  width        : 100%;
  object-fit   : cover;
}

.card h3 {
  font-size : 36px;
  text-align: center;
}

.card p {
  font-size: 20px;
}

.price {
  text-align: center;
  margin    : 10px;
}

.description {
  overflow          : hidden;
  word-break        : break-word;
  text-overflow     : ellipsis;
  white-space       : normal;
  margin-bottom     : auto;
  display           : -webkit-box;
  line-clamp        : 5;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.button {
  background   : var(--background);
  color        : var(--foreground);
  width        : 100%;
  border       : unset;
  border-radius: 15px;
  padding      : 10px 0;
  font-size    : 20px;
}